/* Loader.js */
.container {
	height: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loader {
	width: 100px;
	height: 100px;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.text {
	font-size: 1.5rem;
	margin-top: 30px;
}
